<div class="home-controller" >
<h1>Weekly</h1>
<button id = "dash-btn"><a href="/" id ="dashboard">Home</a></button>
</div>
<% for(let habit of habits){ %>

    <div class="habit-title">
        <h2><%= habit.title %></h2>
    </div>
    <div class="habit-container">
        <% for(let date of weeklyDates){ %>

            <div class="day-container">

                <div class="calender">

                    <p>
                        <%= date %>
                    </p>
                </div>

                <%
                let found;
                let status;

                habit.dates.find((item) => {
                    if(item.date == date){
                        found = true;
                        status = item.complete;
                    }
                });


                %>

                <div>

                    <a href="/users/toggle-status/?id=<%= habit._id %>&date=<%= date %>" class="mark-status">

                        <% if(found && status == 'y') { %>
                            <i class="fas fa-check-circle" style="color: rgb(130, 189, 107)"></i>
                        
                            <% } else if(found && status=='n') { %>
                                <i class="fas fa-times-circle" style="color: rgb(241, 121, 109)"></i>
                            <% } else { %>
                                <i class="fa-solid fa-circle"></i>
                            <% } %>




                    </a>




                </div>





            </div>

            <% } %>
    </div>

<% } %>